@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');


body {
    font-family: 'JejuMyeongjo', serif;
    font-style: normal;
    font-weight: 400;
}  